* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  background: linear-gradient(129.47deg, #908e8e 5%, #181818 67%);
  overflow-x: hidden;
  height: 100vh;
  text-align: center;
  color: #fff;
}
h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#codeNaTela {
  border: solid 1px rgb(255, 0, 0);
  width: fit-content;
  padding: 0.5em;
}
p {
  font-size: 1.5rem;
  padding: 1rem;
}
